nav.header
  div.brand
    a(href="/")
      img(src="favicon-32x32.png", alt="dog lister")
      h1 Dog Lister
  div.navmenu
    span 
      a(href="/") Add your Dog
    span
      a(href="/dogs") Dog List