<%- include('./includes/head.ejs') %>
  </head>
  <body>
    <%- include('./includes/nav.ejs') %>
    <main>
      <form action="/" method="post">
        <label for="name">User Name</label>
        <input type="text" name="name" id="name" />
        <button type="submit">Add User</button>
      </form>
    </main>
  </body>
</html>
