extends ./includes/layout.pug

block scripts
  //- scrips go here
  link(rel="stylesheet", href="style.css")

block content
  h2 Welcome to Dog Lister!
  p Add your dog to the list. In this case the list is a json file stored on our server. No databases needed!
  form(method='POST' action="/dogs") 
    label(for="name") Name
    input#name(type="text", name="name")
    label(for="breed") Breed
    input#breed(type="text", name="breed")
    button(type="submit") Submit!
